# Node.js
node_modules/
npm-debug.log
yarn-error.log
.DS_Store

node_modules
package-lock.json

# Server
server/node_modules/
server/.env
server/public/uploads/

# Client
client/node_modules/
client/dist/
client/.env.local
.env
postman
/server/seeds/data/courses
